@import "tailwindcss";

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.sec {
  max-width: 1600px;
  margin: 0 auto;
}

.menu .line1 {
  transition: 0.3s;
  transform: translate(0, 8px) rotate(-45deg);
}
.menu .line2 {
  transform: scaleX(0);
  transition: 0.3s;
}
.menu .line3 {
  transform: translate(0, -4px) rotate(45deg);
  transition: 0.3s;
}
